* Pyspark Dataframe
* Reading the Dataset
* Checking the Datatype columns
* Selecting columns & Indexing
* Check describe option similar to pandas
* adding columns
* dropping columns

In [1]:
import pyspark
import pandas as pd

In [2]:
path = 'D://DS//pyspark//age.csv'

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [5]:
spark

In [6]:
### read the Dataset
df_pyspark = spark.read.option('header','true').csv(path,inferSchema=True)

In [7]:
### check schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [8]:
df_pyspark = spark.read.csv(path,header=True,inferSchema=True)
df_pyspark.show()

+------+---+----------+
|  Name|Age|experience|
+------+---+----------+
| Rohit| 32|        10|
| Sneha| 32|        10|
|Anaaya|  4|         0|
|Sayali| 28|         5|
+------+---+----------+

In [9]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [10]:
df_pyspark.columns

['Name', 'Age', 'experience']

In [11]:
df_pyspark.head(2)

[Row(Name='Rohit', Age=32, experience=10),
 Row(Name='Sneha', Age=32, experience=10)]

In [12]:
df_pyspark.select('Name').show()

+------+
|  Name|
+------+
| Rohit|
| Sneha|
|Anaaya|
|Sayali|
+------+

In [13]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [14]:
df_pyspark.select(['Name','experience']).show()

+------+----------+
|  Name|experience|
+------+----------+
| Rohit|        10|
| Sneha|        10|
|Anaaya|         0|
|Sayali|         5|
+------+----------+

In [15]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('experience', 'int')]

In [16]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, experience: string]

In [17]:
df_pyspark.describe().show()

+-------+------+------------------+----------------+
|summary|  Name|               Age|      experience|
+-------+------+------------------+----------------+
|  count|     4|                 4|               4|
|   mean|  null|              24.0|            6.25|
| stddev|  null|13.466006584482772|4.78713553878169|
|    min|Anaaya|                 4|               0|
|    max| Sneha|                32|              10|
+-------+------+------------------+----------------+

In [18]:
### adding columns in dataframe
df_pyspark = df_pyspark.withColumn('Experience after 2 yr', df_pyspark['experience']+2)

In [19]:
df_pyspark.show()

+------+---+----------+---------------------+
|  Name|Age|experience|Experience after 2 yr|
+------+---+----------+---------------------+
| Rohit| 32|        10|                   12|
| Sneha| 32|        10|                   12|
|Anaaya|  4|         0|                    2|
|Sayali| 28|         5|                    7|
+------+---+----------+---------------------+

In [21]:
### Drop the columns
df_pyspark = df_pyspark.drop('Experience after 2 yr')

In [23]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|experience|
+------+---+----------+
| Rohit| 32|        10|
| Sneha| 32|        10|
|Anaaya|  4|         0|
|Sayali| 28|         5|
+------+---+----------+

In [26]:
### Rename Columns
df_pyspark = df_pyspark.withColumnRenamed('experience','Expereince')

In [27]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|Expereince|
+------+---+----------+
| Rohit| 32|        10|
| Sneha| 32|        10|
|Anaaya|  4|         0|
|Sayali| 28|         5|
+------+---+----------+