In [1]:
import pyspark

In [2]:
import pandas as pd

In [3]:
pd.read_csv('D://DS//age.csv')

     Name  Age
0   Rohit   32
1   Sneha   32
2  Anaaya    4
3  Sayali   28

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [6]:
spark

In [7]:
df_pyspark = spark.read.csv('D://DS//age.csv')

In [9]:
df_pyspark.show()

+------+---+
|   _c0|_c1|
+------+---+
|  Name|Age|
| Rohit| 32|
| Sneha| 32|
|Anaaya|  4|
|Sayali| 28|
+------+---+

In [11]:
df_pyspark = spark.read.option('header','true').csv('D://DS//age.csv')

In [12]:
df_pyspark.show()

+------+---+
|  Name|Age|
+------+---+
| Rohit| 32|
| Sneha| 32|
|Anaaya|  4|
|Sayali| 28|
+------+---+

In [13]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [15]:
df_pyspark.head(3)

[Row(Name='Rohit', Age='32'),
 Row(Name='Sneha', Age='32'),
 Row(Name='Anaaya', Age='4')]

In [17]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)