In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [8]:
df_pyspark = spark.read.csv('D://DS//pyspark//age.csv',header=True,inferSchema=True)

In [9]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|experience|Salary|
+-------+----+----------+------+
|  Rohit|  32|        10| 35000|
|  Sneha|  32|        10| 35000|
| Anaaya|   4|         0|     0|
| Sayali|  28|         5| 25000|
|   null|  56|        35| 50000|
| Shobha|null|      null|  null|
|Harshad|null|      null| 10000|
| Milind|  35|         5|  null|
+-------+----+----------+------+

In [10]:
### Drop Columns 
df_pyspark.drop('experience').show()

+-------+----+------+
|   Name| Age|Salary|
+-------+----+------+
|  Rohit|  32| 35000|
|  Sneha|  32| 35000|
| Anaaya|   4|     0|
| Sayali|  28| 25000|
|   null|  56| 50000|
| Shobha|null|  null|
|Harshad|null| 10000|
| Milind|  35|  null|
+-------+----+------+

In [11]:
df_pyspark.na.drop().show()

+------+---+----------+------+
|  Name|Age|experience|Salary|
+------+---+----------+------+
| Rohit| 32|        10| 35000|
| Sneha| 32|        10| 35000|
|Anaaya|  4|         0|     0|
|Sayali| 28|         5| 25000|
+------+---+----------+------+

In [12]:
### how = all
df_pyspark.na.drop(how='all').show()

+-------+----+----------+------+
|   Name| Age|experience|Salary|
+-------+----+----------+------+
|  Rohit|  32|        10| 35000|
|  Sneha|  32|        10| 35000|
| Anaaya|   4|         0|     0|
| Sayali|  28|         5| 25000|
|   null|  56|        35| 50000|
| Shobha|null|      null|  null|
|Harshad|null|      null| 10000|
| Milind|  35|         5|  null|
+-------+----+----------+------+

In [13]:
### how = all
df_pyspark.na.drop(how='any').show()

+------+---+----------+------+
|  Name|Age|experience|Salary|
+------+---+----------+------+
| Rohit| 32|        10| 35000|
| Sneha| 32|        10| 35000|
|Anaaya|  4|         0|     0|
|Sayali| 28|         5| 25000|
+------+---+----------+------+

In [14]:
###threshold
df_pyspark.na.drop(how='any',thresh=2).show()

+-------+----+----------+------+
|   Name| Age|experience|Salary|
+-------+----+----------+------+
|  Rohit|  32|        10| 35000|
|  Sneha|  32|        10| 35000|
| Anaaya|   4|         0|     0|
| Sayali|  28|         5| 25000|
|   null|  56|        35| 50000|
|Harshad|null|      null| 10000|
| Milind|  35|         5|  null|
+-------+----+----------+------+

In [15]:
###subset
df_pyspark.na.drop(how='any',subset=['experience']).show()

+------+---+----------+------+
|  Name|Age|experience|Salary|
+------+---+----------+------+
| Rohit| 32|        10| 35000|
| Sneha| 32|        10| 35000|
|Anaaya|  4|         0|     0|
|Sayali| 28|         5| 25000|
|  null| 56|        35| 50000|
|Milind| 35|         5|  null|
+------+---+----------+------+

In [19]:
### Fill Missing value 
df_pyspark.na.fill(0,['experience','age','Salary']).show()

+-------+---+----------+------+
|   Name|Age|experience|Salary|
+-------+---+----------+------+
|  Rohit| 32|        10| 35000|
|  Sneha| 32|        10| 35000|
| Anaaya|  4|         0|     0|
| Sayali| 28|         5| 25000|
|   null| 56|        35| 50000|
| Shobha|  0|         0|     0|
|Harshad|  0|         0| 10000|
| Milind| 35|         5|     0|
+-------+---+----------+------+

In [20]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|experience|Salary|
+-------+----+----------+------+
|  Rohit|  32|        10| 35000|
|  Sneha|  32|        10| 35000|
| Anaaya|   4|         0|     0|
| Sayali|  28|         5| 25000|
|   null|  56|        35| 50000|
| Shobha|null|      null|  null|
|Harshad|null|      null| 10000|
| Milind|  35|         5|  null|
+-------+----+----------+------+

In [21]:
from pyspark.ml.feature import Imputer

In [22]:
imputer = Imputer(
    inputCols=['Age','experience','Salary'],
    outputCols= ["{}_imputed".format(c) for c in ['Age','experience','Salary']]
).setStrategy("mean")

In [24]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   Name| Age|experience|Salary|Age_imputed|experience_imputed|Salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|  Rohit|  32|        10| 35000|         32|                10|         35000|
|  Sneha|  32|        10| 35000|         32|                10|         35000|
| Anaaya|   4|         0|     0|          4|                 0|             0|
| Sayali|  28|         5| 25000|         28|                 5|         25000|
|   null|  56|        35| 50000|         56|                35|         50000|
| Shobha|null|      null|  null|         31|                10|         25833|
|Harshad|null|      null| 10000|         31|                10|         10000|
| Milind|  35|         5|  null|         35|                 5|         25833|
+-------+----+----------+------+-----------+------------------+--------------+