In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [3]:
df_pyspark = spark.read.csv('D://DS//pyspark//age.csv',header=True,inferSchema=True)

In [4]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|experience|Salary|
+-------+----+----------+------+
|  Rohit|  32|        10| 35000|
|  Sneha|  32|        10| 35000|
| Anaaya|   4|         0|     0|
| Sayali|  28|         5| 25000|
|   null|  56|        35| 50000|
| Shobha|null|      null|  null|
|Harshad|null|      null| 10000|
| Milind|  35|         5|  null|
+-------+----+----------+------+

In [5]:
df_pyspark = df_pyspark.dropna()

In [6]:
df_pyspark.show()

+------+---+----------+------+
|  Name|Age|experience|Salary|
+------+---+----------+------+
| Rohit| 32|        10| 35000|
| Sneha| 32|        10| 35000|
|Anaaya|  4|         0|     0|
|Sayali| 28|         5| 25000|
+------+---+----------+------+

In [7]:
#### Salary of people less than or equal to 20000
df_pyspark.filter('Salary <= 20000').show()

+------+---+----------+------+
|  Name|Age|experience|Salary|
+------+---+----------+------+
|Anaaya|  4|         0|     0|
+------+---+----------+------+

In [8]:
df_pyspark.filter('Salary <= 20000').select(['Name','Age']).show()

+------+---+
|  Name|Age|
+------+---+
|Anaaya|  4|
+------+---+

In [9]:
df_pyspark.filter((df_pyspark['Salary'] <= 20000) & 
                  (df_pyspark['Salary'] >= 15000)).show()

+----+---+----------+------+
|Name|Age|experience|Salary|
+----+---+----------+------+
+----+---+----------+------+

In [10]:
df_pyspark.filter((df_pyspark['Salary'] <= 20000) | 
                  (df_pyspark['Salary'] >= 15000)).show()

+------+---+----------+------+
|  Name|Age|experience|Salary|
+------+---+----------+------+
| Rohit| 32|        10| 35000|
| Sneha| 32|        10| 35000|
|Anaaya|  4|         0|     0|
|Sayali| 28|         5| 25000|
+------+---+----------+------+

In [11]:
df_pyspark.filter(~(df_pyspark['Salary'] <= 20000)).show()

+------+---+----------+------+
|  Name|Age|experience|Salary|
+------+---+----------+------+
| Rohit| 32|        10| 35000|
| Sneha| 32|        10| 35000|
|Sayali| 28|         5| 25000|
+------+---+----------+------+